.addPost{
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e6ecf5;
    padding: 23px 25px 18px;
    display: flex;
    position: relative;
    margin: 0 0 15px 0;
    justify-content: space-between;
    align-items: center;

}
.title{
    margin-bottom: 0;
    color: #515365;
}
.textArea {
    padding: 0 20px 0 0;
    border: 1px solid #e6ecf5;
    border-radius: 5px;
    width: 80%;

}
.plusIcon {
    margin-bottom: 0;
}

.PostsBlock{

}
.Posts{
    margin-top:10px;
}
