.header{
    grid-area:h;
    height: 70px;
    background-color:#3f4257;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.headerLogo {
    width : 70px;
}
.loginBlock{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.ava {
    margin-right: 8px;
    position: unset;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    overflow: hidden;
}
.headerLogin {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
}
.loginLogout {
    text-decoration: none;
    color:gold;
    cursor: pointer;
    margin-top: 5px;
    background-color: #3f4257;
    border-radius: 5px;
    border: 1px solid #515365;
    padding: 5px;

}