.app-wrapper {
    display: grid;
    grid-template-areas: /*количество строк и столбцов*/
            "h h "    /*с помощью заданых псевдонимов*/
            "n c ";
    grid-template-rows: 70px 1fr; /*размер строк*/
    grid-template-columns: 1fr 10fr; /*размер столбцов */
    grid-gap: 10px; /*отступ между окнами*/
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;
}



